.admin-owner-container {
  max-width: 90%;
  margin: -100px auto 40px;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.megh-h2{
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.owner-profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.owner-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid maroon;
  padding: 5px;
  object-fit: cover;
}

.owner-details {
  flex: 1;
}

.owner-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.owner-details li {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.owner-details li strong {
  color: maroon;
}

.h2 {
  font-size: 30px;
  font-weight: 1000;
  color: maroon;
}

@media (max-width: 768px) {
  .admin-owner-container {
    padding: 15px;
  }

  .owner-profile {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    gap: 15px;
  }

  .owner-image {
    width: 120px;
    height: 120px;
  }

  .owner-details li {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 6px 10px;
  }

  .h2 {
    font-size: 24px;
  }
}
