.my-bookings {
  position: relative;
  top: 10px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-bookings .button {
  padding: 8px 16px;
  font-size: 14px;
}

.my-bookings h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.my-bookings table {
  width: 100%;
  border-collapse: collapse;
}

.my-bookings th,
.my-bookings td {
  padding: 12px;
  text-align: left;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.my-bookings th {
  background-color: maroon;
  color: white;
  font-weight: bold;
}

.my-bookings tr:nth-child(even) {
  background-color: #f2f2f2;
}

.my-bookings td {
  color: #555;
}

.my-bookings td[colspan="4"] {
  text-align: center;
  color: #888;
  font-style: italic;
}

.status-confirmed {
  color: rgb(73, 204, 73);
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}

.h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  font-weight: bolder;
  color: maroon;
}

/* Responsive styles */
@media (max-width: 768px) {
  .my-bookings {
    padding: 15px;
    max-width: 100%;
  }

  .my-bookings h2 {
    font-size: 20px;
  }

  .my-bookings .button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .my-bookings th,
  .my-bookings td {
    font-size: 14px;
    padding: 10px;
  }
  .h1 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-weight: bolder;
    color: maroon;
  }
}

@media (max-width: 480px) {
  .my-bookings h2 {
    font-size: 18px;
  }

  .my-bookings th,
  .my-bookings td {
    font-size: 13px;
    padding: 8px;
  }

  .h1 {
    font-size: 2rem;
    margin-top: 15%;
  }
}
