/* Container for the customer profile */
.admin-customer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: -100px auto 40px; 
}

.customer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

/* Customer image styling */
.image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* position: sticky; */
  margin-bottom: 15px;
  object-fit: cover;
}

/* Styling for customer details */
.customer-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: maroon;
  text-align: left;
}

.customer-details ul li {
  margin-bottom: 8px;
  font-size: 16px;
  width: 600px;
  padding: 10px;
  line-height: 1.5;
  color: rgb(23, 23, 148);
}

.customer-details ul li strong {
  font-weight: bold;
  color: maroon;
}

/* Title styling */
.h2 {
  text-align: center;
  font-size: 3rem;
  margin: 120px 0;
  color: maroon;
  font-weight: 600;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .customer-owner-container {
    flex-direction: column;
    align-items: center;
  }

  .customer-profile {
    width: 90%;
    padding: 15px;
    margin-left: 3%;
  }
  .customer-details ul li {
    max-width: 300px;
  }

}
